.repository
{
    padding-top: 25px;
    &__title
    {
        font-size: 1.5rem;

        text-align: center;
    }
    &__name
    {
        &:hover
        {
            background-color: lighten(gray, 35%);
        }
    }
    &__body
    {
        background-color: lighten(gray, 45%);
    }
}
.btn-back
{
	position: fixed; 
	top: 50px; 
	left: 180px; 
	width: 150px; 
}