*, 
*:before,
*:after {
  margin:0; 
  padding:0; 
  box-sizing: border-box; 
  list-style: none;
  font-family: 'Roboto', sans-serif;
}
body {
	background-color: lighten(gray, 40%); 
}
.title{
	text-align: center; 
}
.template {
	display: none !important;
}

@import 'user';
@import 'user-info'; 